# additional requirements and features that use them
# package: feature1, feature2, ...

matplotlib: visualization
seaborn: visualization
plotly: visualization
pytest: dev, test
pytest-cov: dev, test
pytest-mock: dev, test
mypy: dev